@{
    ViewData["Title"] = "Access Denied";
}

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="text-center">
        <h1 class="display-1 fw-bold text-danger">403</h1>
        <p class="fs-3"> <span class="text-danger">Opps!</span> Access Denied.</p>
        <p class="lead">
            ขออภัย คุณไม่มีสิทธิ์เข้าถึงหน้านี้
        </p>
        <a asp-action="Index" asp-controller="Home" class="btn btn-primary">กลับสู่หน้าหลัก</a>
    </div>
</div>
