@model myapp.Models.LoginViewModel
@{
    ViewData["Title"] = "Welcome Back";
    Layout = "_LoginLayout";
}

<div class="login-container-split">
    <div class="login-left">
        <!-- Decorative content -->
        <h1 class="display-4 text-white">ASI Service</h1>
    </div>
    <div class="login-right">
        <div class="login-form-container">
            <div class="login-logo">
                 <img src="~/images/t_stanley-electric8916.jpg" alt="Stanley Logo" class="login-logo-img" />
            </div>

            <form asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger mb-4"></div>

                <div class="input-group-login">
                     <i class="fas fa-envelope fa-icon"></i>
                    <input asp-for="UserName" class="form-control-login" placeholder="Username" />
                </div>
                <span asp-validation-for="UserName" class="text-danger d-block mb-3"></span>

                <div class="input-group-login">
                    <i class="fas fa-lock fa-icon"></i>
                    <input asp-for="Password" type="password" class="form-control-login" placeholder="Password" />
                </div>
                <span asp-validation-for="Password" class="text-danger d-block mb-3"></span>

                <button type="submit" class="btn btn-get-started">Get Started</button>
            </form>
        </div>
    </div>
</div>
